.hero-bgc-p{
    background-image: url(../images9/syberAI.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-bgc-project-p{
    background-image: url(../images9/cyberCity.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.img-code-logo-p{
    width: 40px;
}


.hero-section-p{
    color: $wText;
    display: flex;
    background-color: #141d3fd5;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 7em;
    padding-bottom: 7em;
}

.hero-section-p{
    h1{
        color: $wText;
        font-size: 40px;
    }
    p{
        color: $wText;
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 1em;
        width: 300px;
    }

}

.logos-p{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(1);
    align-items: center;
    gap: 35px;
}

.container-p{
    margin-top: 80px;

}

.projects-p,.projects-p-js{
    /* width: 50%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 0.3em;
    margin: auto;
    padding-top: 5em;
    padding-bottom: 5em;
    
}

.projects-cards-p{
    width: 70VW;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 20px;
}


.card-p {
    width: 100%;
    height: 500px;
    padding-bottom: 15px;
    box-shadow: 3px 3px 10px rgba(0,0,0, .4);
    background-color: $wText;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p{
        margin: 20px;
    }
    h3{
        font-size: 23px;
    }
}

.card-logos {
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.card-p>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-pt{
    width: 100%;
    height: 50%;
    background-position: top center;
    background-size: cover;
    border-radius: 10px 10px 0 0;
    background-repeat: no-repeat;
}

.img-pt:hover {
    background-size: contain;
}

.card1 {
    background-image: url(../projectsScreenShots/p1/project1D.jpg);
}
.card2 {
    background-image: url(../projectsScreenShots/p2/project2D.jpg);
} 
.card3 {
    background-image: url(../projectsScreenShots/p3/project3D.png);
}
.card4 {
    background-image: url(../projectsScreenShots/p4/project4D.jpg);
}
.card5 {
    background-image: url(../projectsScreenShots/p5/project5D.png);
}
.card6 {
    background-image: url(../projectsScreenShots/p6/project6D.png);
}

.card1-js {
    background-image: url(../screenshotsjs/calculator.png);
}
.card2-js {
    background-image: url(../screenshotsjs/quiz.png);
} 
.card3-js {
    background-image: url(../screenshotsjs/weatherApp.png);
}
.card4-js {
    background-image: url(../screenshotsjs/screenBuilder.png);
}
.card5-js {
    background-image: url(../screenshotsjs/tasksList.png);
}
.card6-js {
    background-image: url(../screenshotsjs/ticTacToe.png);
}

h2{
    font-size: 30px;
}

@media (max-width:900px){
    .projects-p {
        /* width: 50%; */
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 0.3em;
        margin: auto;
        padding-top: 5em;
        padding-bottom: 5em;
        
    }
    
    .projects-cards-p {
        width: 90VW;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 6fr);
        gap: 40px;
        margin-top: 20px;
    }
    
    .card-p {
        width: 100%;
        padding-bottom: 15px;
        box-shadow: 3px 3px 10px rgba(0,0,0, .4);
        background-color: $wText;
        border-radius: 10px;
        // div{
        //     height: 300px;
        // }
    }
    
    .card-logos {
        width: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .img-pt{
        width: 100%;
        height: 50%;
        // background-position: top center;
        // background-size: cover;
        // border-radius: 10px 10px 0 0;
        // background-repeat: no-repeat;
    }
    
    .img-pt:hover {
        background-size: contain;
    }
    
    .card>p{
        margin: 20px;
    }
    
    .card>h3{
        font-size: 23px;
    }
    
    h2{
        font-size: 30px;
    }
    
    .btn-card{
    padding: 10px 30px;
    background-color: $pinkMainBgc;
    border: 0;
    border-radius: 5px;
    color: $wText;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    }
}