@media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
    nav{
      margin-top: 0px;
      ul{
          width: 100%;
      }
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }