*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "heebo";
    list-style-type: none !important;
}

.container{
    margin-top: 80px;

}

.hero-bgc{
    background-image: url(../images9/syberAI.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-bgc-project-p{
    background-image: url(../images9/cyberCity.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.img-code-logo {
    width: 40px;
}


.hero-section{
    color: $wText;
    display: flex;
    background-color: #141d3fd5;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 7em;
    padding-bottom: 7em;
}

.hero-section{
    h1{
        color: $wText;
        font-size: 40px;
    }
    p{
        color: $wText;
        font-size: 19px;
        font-weight: 300;
        margin-bottom: 1em;
        text-align: center;
        width: 55%;
    }

}

.logos{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(1);
    align-items: center;
    gap: 35px;
}

.l1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1);
    align-items: center;
    gap: 35px;
}

.logos-js{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1);
    align-items: center;
    gap: 35px;
}

.logos-js-api{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1);
    align-items: center;
    gap: 35px;
}

.p-w-p{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 50px 0 50px 0;
    .desktop-poject-js-img{
        width: 70%;
        border-radius: 10px;
        box-shadow: 3px 3px 20px rgba(0,0,0, 0.10);
    }
    @media (min-width: 1200px ) {
        .mobile-poject-js-img{
            display: none;
        }
    }
}

.about{
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2em;
    margin: auto;
    margin-bottom: 3em;
    margin-top: 3em;

    img{
        width: 30%;
        border-radius: 50%;
    }
}



.dw-btn {
    background-color: $pinkMainBgc;
    height: 40px;
    width: 200px;
    border: 0;
    border-radius: 5px;
    color: $wText;
}

.projects {
    /* width: 50%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 0.3em;
    margin: auto;
    padding-top: 5em;
    padding-bottom: 5em;
    
}

.projects-cards {
    width: 70VW;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 20px;
}


.card {
    width: 100%;
    height: 500px;
    padding-bottom: 15px;
    box-shadow: 3px 3px 10px rgba(0,0,0, .4);
    background-color: $wText;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p{
        margin: 20px;
    }
    h3{
        font-size: 23px;
    }
}

.card-logos {
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

h2{
    font-size: 30px;
}

.card>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-card{
    padding: 10px 30px;
    background-color: $pinkMainBgc;
    border: 0;
    border-radius: 5px;
    color: $wText;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    
}

.contact{
    height: 600px;
    background-color: #141d3f;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: $wText;
}

.form-container{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 25px;
    .titles-container{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-control{
    display: flex;
    flex-direction: column;
    label{
        font-size: 13px;
        font-family: "heebo";
        color: #ffffffc2;
    }
    input{
        width: 20vw;
        height: 40px;
        background-color: $wText;
        border: 0;
        border-bottom: 3px solid #020253;
        border-radius: 5px;
    }
    textarea{
        height: 70px;
        border-radius: 5px;
    }
}
  
.form-control-btn{
    input{
    width: 10vw;
    height: 40px;
    font: bold 15px "heebo";
    color: $wText;
    background-color: $pinkMainBgc;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
}

.img-container{
    background-image: url(../images9/contact.jpg);
    background-position: top left;
    background-size: cover;
}

footer{
    background-color: #95DEFF;
}

.footer-container{
    width: 70vw;
    height: 180px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-content: center;
    margin: 0 auto;
    text-align: center;
    gap: 150px;

}

.contact-img{
    width: 40px;
}

.footer-container{
    div{
        background-color: #020253;
        border-radius: 10px;
        padding: 10px;
    }
}

.footer-container{
    p{
        color: $wText;
    }
}

